@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
    font-family: 'OpenDyslexicMono', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

h1 {
    text-align: center;
    font-size: 350%;
}

.companion-img-home {
margin-left: 40%;
margin-right: 40%;
width: 20%;
height: 40%;
margin-bottom: 5%;
}

.companion-img {
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
    height: 40%;
    scale: 30%;
}

.login-button {
    font-family: 'OpenDyslexicMono', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    border-radius: 20px;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    border: solid rgb(149, 156, 164);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    max-width: 1691;
}

.imgFlex {
    width: 100%;
}

.img-container {
    flex-shrink: 0;
    width: 200px;
    height: 250px;
}

.listFlex {
    flex-basis: 35%
}